<nz-layout>
    <nz-header></nz-header>
    <nz-layout>
        <nz-sider nz-col [nzXs]="{ span: 0 }" [nzSm]="{ span: 0}" [nzMd]="{ span: 0 }" 
        [nzLg]="{ span: 6 }" [nzXl]="{ span: 8, }" [nzXXl]="{ span: 8 }" nzTheme="light"></nz-sider>
        <nz-layout class="inner-layout">
            <nz-content style="min-height: 93vh;">
                <div class="inner-content" style="padding: 20px;">
        
                    <div nz-row style="margin-bottom:10px;">
                        <div nz-col nzFlex="2">
                            <button nz-button nzType="text" nz-dropdown nzTrigger="click" [nzClickHide]="false"
                                [nzDropdownMenu]="filterMenu">
                                <span nz-icon nzType="filter" nzTheme="outline"></span>
                                Filter {{filterSelected()}} employee
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #filterMenu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="getFilteredEmp(filterenumEmployee.all)" 
                                        [nzSelected]="filterSelected() === 'all' ? true:false">All Employees</li>
                                    <li nz-menu-item (click)="getFilteredEmp(filterenumEmployee.current)"
                                        [nzSelected]="filterSelected() === 'current' ? true:false">Current Employees</li>
                                    <li nz-menu-item (click)="getFilteredEmp(filterenumEmployee.previous)"
                                        [nzSelected]="filterSelected() === 'previous' ? true:false">Previous Employees</li>
                                </ul>
                            </nz-dropdown-menu>
                        </div>
                        <div nz-col nzFlex="3">
                            <div class="pull-right">
                                <nz-segmented [ngModel]="selectedIndex()" (ngModelChange)="handleModelChange($event)"
                                    [nzOptions]="options()" style="margin-right:10px;"></nz-segmented>
                                <button nz-button nzType="primary" (click)="showCreateModal()">
                                    <span class="createIcon" nz-icon nzType="plus" nzTheme="outline"></span> Create
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div *ngIf="selectedTab() === 'kanban'" nz-row class="emp-card-wrapper"
                        [nzGutter]="[{ xs: 16, sm: 16, md: 16, lg: 16 },{ xs: 16, sm: 16, md: 16, lg: 16 }]">
                        @for (data of filterEmployeeList(); track data.id) {
                            <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzMd]="{ span: 12 }" [nzLg]="{ span: 12 }"
                                [nzXl]="{ span: 8 }" [nzXXl]="{ span: 8 }" class="gutter-row">
                                <nz-card class="emp-card-view">
                                    <div nz-row class="go-corner">
                                        <div class="go-arrow">
                                            <span class="editIcon" nz-icon nzType="edit" nzTheme="outline" (click)="getSingleEmp(data.id)"></span>
                                            &nbsp;
                                            <span class="deleteIcon" nz-icon nzType="delete" nzTheme="outline" (click)="deleteEmp(data.id)"></span>
                                        </div>
                                    </div>  
                                    <div nz-flex [nzGap]="20">
                                        <nz-avatar [nzSize]="'large'" nzText="{{data.avatarIcon}}"></nz-avatar>
                                        <div nz-flex [nzVertical]="true">
                                            <h2>{{data.emp_name}}</h2>
                                            <h3>{{data.emp_role}}</h3>
                                            <p>
                                                {{data.start_date_format}} 
                                                <span *ngIf="data.end_date_format != null">- {{data.end_date_format}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </nz-card>
                            </div>
                        }
                    </div>
                    <!--  -->
                    <div *ngIf="selectedTab() === 'list'" nz-row [nzGutter]="{ xs: 16, sm: 16, md: 16, lg: 16 }">
                        <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 24 }"
                            [nzXl]="{ span: 24 }" [nzXXl]="{ span: 24 }" class="gutter-row">
                            <nz-table #empTable nzBordered="false" [nzData]="filterEmployeeList()" [nzShowPagination]="false"
                                nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        <th [nzWidth]="'50px'"></th>
                                        @for (column of listOfColumns(); track column.title) {
                                            <th [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                                                {{ column.title }}
                                            </th>
                                        }
                                        <th [nzWidth]="'100px'">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (data of empTable.data; track data.id) {
                                        <tr>
                                            <td [nzChecked]="false"></td>
                                            <td>
                                                <nz-avatar [nzSize]="'large'" nzText="{{data.avatarIcon}}"></nz-avatar>
                                                &nbsp;{{ data.emp_name }}
                                            </td>
                                            <td>{{ data.emp_role }}</td>
                                            <td>{{ data.start_date_format }}</td>
                                            <td>{{ data.end_date_format }}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="getSingleEmp(data.id)"><span nz-icon
                                                        nzType="edit" nzTheme="outline"></span></a>
                                                &nbsp;
                                                <a href="javascript:void(0)" (click)="deleteEmp(data.id)"><span nz-icon
                                                        nzType="delete" nzTheme="outline"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
        
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>



<nz-modal [nzWidth]="'600px'" [nzBodyStyle]="{ overflow:'auto'}" [(nzVisible)]="isModalVisible" [nzClosable]="'false'"
    nzCentered [nzFooter]="null">
    <ng-container *nzModalContent>
        <div nz-row [nzGutter]="[15]">
            <div nz-col [nzSpan]="24" class="gutter-row">
                <nz-page-header class="m-b-10" nzTitle="Add Employee Details">
                    <nz-page-header-extra>
                        <button type="button" nz-button nzType="text" class="text-inverse" (click)="resetForm()">
                            <span nz-icon nzType="close" nzTheme="outline"></span>
                        </button>
                    </nz-page-header-extra>
                </nz-page-header>
            </div>
            <div nz-col [nzSpan]="24" class="gutter-row m-t-20">
                <form nz-form [formGroup]="employeeForm()" (ngSubmit)="submitForm()">
                    <input type="hidden" formControlName="id" nz-input />
                    <nz-form-item class="m-b-10">
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="nameErrorTpl">
                            <nz-input-group [nzPrefix]="prefixTemplateName" nzSize="large">
                                <input type="text" formControlName="emp_name" nz-input placeholder="Employee Name" />
                            </nz-input-group>
                            <ng-template #prefixTemplateName>
                                <span nz-icon nzType="user"></span>
                            </ng-template>
                        </nz-form-control>
                        <ng-template #nameErrorTpl let-control>
                            @if (control.errors?.['required']) { Please input your name! }
                        </ng-template>
                    </nz-form-item>
                    <nz-form-item class="m-b-10">
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="roleErrorTpl">
                            <nz-input-group nzPrefixIcon="shopping" style="padding: 0px 11px !important;">
                                <nz-select nzBorderless nzShowSearch nzAllowClear class="emp_role" nzPlaceHolder="Select a role" formControlName="emp_role" nzSize="large">
                                    @for (item of roleList(); track item.role_name) {
                                        <nz-option nzLabel="{{item.role_name}}" nzValue="{{item.role_name}}"></nz-option>
                                    }
                                </nz-select>
                            </nz-input-group>
                        </nz-form-control>
                        <ng-template #roleErrorTpl let-control>
                            @if (control.errors?.['required']) { Please select your role! }
                        </ng-template>
                    </nz-form-item>
                    <nz-form-item class="m-b-10">
                        <nz-form-control [nzSpan]="11" [nzErrorTip]="startDateErrorTpl">
                            <nz-input-group [nzPrefix]="prefixStartDate" nzSize="large" nz-dropdown nzTrigger="click"
                                [nzDropdownMenu]="start_date_dp" >
                                <input type="text" formControlName="start_date" nz-input placeholder="Today" (ngModelChange)="checkValidInput()" />
                            </nz-input-group>
                            <ng-template #prefixStartDate>
                                <span nz-icon nzType="calendar" nzTheme="outline"></span>
                            </ng-template>
                            <nz-dropdown-menu #start_date_dp="nzDropdownMenu">
                                <app-calendar [getStartDate]="startdateSignal()" [btnToday]="true"
                                    [nextDay]="true" [nextNextDay]="true" [afterWeek]="true"
                                    (onSelectDatePicker)="setStartDateValue($event)"></app-calendar>
                            </nz-dropdown-menu>
                        </nz-form-control>
                        <ng-template #startDateErrorTpl let-control>
                            @if (control.errors?.['required']) {
                                Please select start date!
                            }
                        </ng-template>
                        <nz-form-control [nzSpan]="2" style="text-align: center;">
                            <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
                        </nz-form-control>
                        <nz-form-control [nzSpan]="11">
                            <nz-input-group [nzPrefix]="prefixEndDate" nzSize="large" nz-dropdown nzTrigger="click"
                                [nzDropdownMenu]="end_date_dp">
                                <input type="text" formControlName="end_date" nz-input placeholder="No date" />
                            </nz-input-group>
                            <ng-template #prefixEndDate>
                                <span nz-icon nzType="calendar" nzTheme="outline"></span>
                            </ng-template>
                            <nz-dropdown-menu #end_date_dp="nzDropdownMenu">
                                <ng-container *ngIf="employeeForm().controls['start_date'].valid">
                                    <app-calendar [getNoDate]="enddateSignal()"
                                    [getStartDate]="startdateSignal()" [disabledDateWise]="true"
                                    [btnNodate]="true" [btnToday]="true" [nextDay]="false" [nextNextDay]="false"
                                    [afterWeek]="false" (onSelectDatePicker)="setEndDateValue($event)"></app-calendar>
                                </ng-container>
                            </nz-dropdown-menu>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row class="pull-right" style="margin-bottom:0px;">
                        <nz-form-control [nzSpan]="24">
                            <button nz-button nzType="text" type="button" class="m-r-10" (click)="resetForm()"> Cancel </button>
                            <button nz-button nzType="primary" class="ant-btn ant-btn-primary">Submit</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
    </ng-container>
</nz-modal>
